bucket         = "REPLACE-UNIQUE-cifar-cnn-tf-state"
key            = "envs/prod/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "cifar-cnn-terraform-locks"
encrypt        = true
kms_key_id     = "alias/cifar-cnn-tf-state"
